.wrapper-button-cart {
  width: 4rem;
  height: 4rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
.wrapper-button-cart .button-cart {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-image: url("../../../public/basket.svg");
  background-size: 1.2rem;
  background-repeat: no-repeat;
  background-position: center;
}
.wrapper-button-cart .count-cart {
  position: absolute;
  border-radius: 100%;
  height: 1.5rem;
  background-color: #f44336;
  color: white;
  min-width: 1.5rem;
  top: -0.5rem;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.side-bar-cart {
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: fixed;
  right: 0;
  transform: translateX(20rem);
  transition: all 0.3s ease-in-out;
  width: 20rem;
  top: 1rem;
  bottom: 1rem;
  border-radius: 1rem 0 0 1rem;
  padding: 1rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3rem 1fr 6rem;
  grid-template-areas: "head" "main" "total";
}
.side-bar-cart[data-visible="true"] {
  transform: translateX(0);
}
.side-bar-cart > header {
  border-radius: 0;
  box-shadow: none;
  background: none;
  display: flex;
  justify-content: space-between;
  align-items: start;
  grid-area: head;
  user-select: none;
}
.side-bar-cart > header > .title {
  font-size: 1.2rem;
  font-weight: 600;
}
.side-bar-cart > header .close-button {
  background-image: url("../../../public/close.svg");
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.7rem;
}
.side-bar-cart main {
  grid-area: main;
  overflow-y: auto;
}
.side-bar-cart main .not-tover {
  font-size: 0.8rem;
}
.side-bar-cart main .cart-product-item {
  display: grid;
  grid-template-columns: 1fr 1.5rem;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "title removeButton" "price price";
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  user-select: none;
  border-radius: 0.7rem;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}
.side-bar-cart main .cart-product-item .title {
  grid-area: title;
  justify-self: self-start;
  text-align: left;
}
.side-bar-cart main .cart-product-item .price-container {
  font-size: 0.7rem;
  grid-area: price;
  justify-self: self-start;
  column-gap: 0.2rem;
  display: flex;
  align-items: end;
}
.side-bar-cart main .cart-product-item .price-container > span {
  font-size: 1rem;
}
.side-bar-cart main .cart-product-item .button-delete-cart-product-item {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("../../../public/close.svg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 0.6rem;
  cursor: pointer;
  grid-area: removeButton;
}
.side-bar-cart footer {
  grid-area: total;
}
.side-bar-cart footer .total {
  text-align: left;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  user-select: none;
  font-weight: 600;
}
.side-bar-cart footer .total .title {
  font-size: 0.9rem;
}
.side-bar-cart footer > button {
  margin-top: 1rem;
  width: 100%;
  background-color: #218ee5;
  color: white;
  font-size: 0.9rem;
  height: 2.5rem;
}
.side-bar-cart footer > button:hover {
  border: 1px solid #218ee5;
}
