.card-product {
  border-radius: 0.7rem;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 20rem;
}
.card-product .title {
  text-align: left;
  font-weight: 500;
  margin-bottom: 0.5rem;
  user-select: none;
}
.card-product .field-category {
  font-size: 0.8rem;
  text-align: left;
  user-select: none;
}
.card-product .body-container {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  padding: 0;
  column-gap: 1rem;
  flex-direction: column;
}
.card-product .body-container .field {
  font-size: 0.8rem;
}
.card-product .body-container .field > span {
  font-size: 0.7rem;
}
.card-product .footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.card-product .footer-container .price-container {
  user-select: none;
}
.card-product .footer-container .price-container > span {
  font-size: 0.7rem;
}
.card-product .footer-container button {
  background-color: #208ee5;
  color: white;
  font-size: 0.9rem;
  user-select: none;
}
.card-product .footer-container button:focus {
  outline: none;
  border: 1px solid #208ee5;
}
.card-product .footer-container button:hover {
  outline: none;
  border: 1px solid #208ee5;
}
.card-product .footer-container button[disabled] {
  pointer-events: none;
  background-color: #dddddd;
  color: #bcb8b8;
  font-size: 0.9rem;
  border: 1px solid #dddddd;
}
